* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    position: relative;
    z-index: 1;

    width: 100vw;

    background-color: #02070d; 
    color: #fff8;
    font-family: Inconsolata;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
}



#nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}
#nav .container {
    position: absolute;
    width: 80%;
    height: 90%;
    background: #08112d;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container .link {
    position: relative;

    padding: .3em 1em;

    text-decoration: none;
    color: #122e53;
    border-radius: 5px;

    transition: .3s;
}
.container .link:hover {
    color: #fff;
    background-color: #040d19;
}

.logo .link {
    font-size: 1.2em;
    color: #fff6;
    font-family: Monospace;
}
.logo .link:hover {
    color: #49e9ff;
}


.container .links {
    position: relative;
    cursor: pointer;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}
.links .link {
    color: #1f68e4;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0 .3em;
}
.links .link:hover {
    color: #49e9ff;
    box-shadow: 0 2px 0 3px #134190;
}


#pages {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100vw;
}

#pages .page {
    position: relative;

    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.page.head {
    flex-direction: column;

}

.page .title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title .iam{
    position: relative;

    transform: rotate(-90deg);
    font-size: 2em;
    height: 1.3em;
    width: 5em;
    margin: -1.6em;
    text-align: center;

    color: #1f68e480;
    border-bottom: 1px solid #134190;
    font-family: monospace;
}
.title .name{
    position: relative;
    width: 4.3em;
    line-height: 1em;
    font-family: Bungee;
    font-size: 10em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 10px #49e9ff;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: width 3s;
    overflow: hidden;
}
.title .name.hide {
    height: initial;
    width: 0em;
    margin-left: -.13em;
}
@keyframes blink {
    0% {
        color: #fff;
    }
    2% {
        color: #02070d;
    }
    4% {
        color: #fff;
    }
    90% {
        color: #fff;
    }
    92% {
        color: #02070d;
    }
    94% {
        color: #fff;
    }
}
.page .catchytext{
    width: 100%;
    text-align: right;
    font-size: .9em;
    color: #49e9ff55;
}
.catchytext u {
    color: #49e9ff90;
}


@media only screen and (max-width: 830px){
    .logo .link {
        font-size: 1em;
    }
    .links .link {
        font-size: 1em;
    }
    .title .iam {
        font-size: 1.4em;
    }
    .title .name {
        font-size: 5em;
    }
}

/* Nav resposiveness */
@media only screen and (max-width: 550px){
    #nav {
        height: 3em;
        align-items: center;
        justify-content: center;
    }
    #nav.visible {
        height: 10em;
    }
    #nav .container {
        justify-content: center;
    }
    #nav:not(.visible) .container .links{
        height: 0px;
        opacity: 0;
        overflow: hidden;
    }
    #nav .container, .container .links {
        flex-direction: column;
    }
    .container .links {
        height: 6em;
    }
    .container .logo {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
    }
    .logo .toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        
        width: 2em;
        height: 1em;
        cursor: pointer;
    }
    .toggler .bar {
        width: 2em;
        height: 4px;
        border-radius: 2em;
        background-color: #fff5;
        transition: .3s;
    }
    .toggler:hover .bar {
        background-color: #fff8;
    }
    #nav.visible .bar {
        background-color: #fff;
    }
    #nav.visible .bar:last-child {
        width: .5em;
    }
}