* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    position: relative;
    z-index: 1;

    width: 100vw;

    background-color: #150908; 
    color: #fff8;

    display: flex;
    flex-direction: column;
    align-items: center;
}