@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito_Complete/Nunito_Complete/Fonts/TTF/Nunito-Variable.ttf");
}
@font-face {
    font-family: "Chillax";
    src: url("./assets/fonts/Chillax_Complete/Fonts/TTF/Chillax-Variable.ttf");
}
@font-face {
    font-family: "DancingScript";
    src: url("./assets/fonts/DancingScript_Complete/DancingScript_Complete/Fonts/TTF/DancingScript-Variable.ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-size: 18px;
    font-family: "Nunito", sans;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

h2, h3, h4, h5, h6, .container > .title {
    font-family: "Chillax", sans;
    font-size: 58px;
    font-weight: 800;
    color: #202020;
}

.links {
    padding: .7em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

nav#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    width: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
}

a {
    color: #950c00;
    text-decoration: none;
    font-family: 'DancingScript';
    padding: .5em 1.25em;
    border-radius: 15px;
    border: 1px solid #0000;
    font-size: 18px;
    transition: .3s cubic-bezier(0.4, 0, 1, 1);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 85%;
    gap: 30px;
}

#hero .title {
    & h1 {
        font-size: 122px;
        line-height: 120px;
        font-family: 'DancingScript';
    }
    & p {
        font-size: 16px;
        line-height: 18px;
        font-weight: normal;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title p {
    font-size: 16px;
    line-height: 18px;
}

div#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
}

#hero .desc {
    padding: 1em;
    font-size: 22px;
    font-style: italic;
}

h2 {
    font-size: 58px;
}

#about .desc {
    width: 85%;
    max-width: 1200px;
    padding: .5em 2em;
    text-align: justify;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    gap: 12px;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    border: 1px solid #a4a4a4;
    padding: 12px 20px;
    border-radius: 11px;
    backdrop-filter: blur(40px) brightness(1.04);
}

div#skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.stitle {
    font-size: 26px;
}

.skill-tag {
    border: 1px solid #595959;
    padding: 2px 20px;
    border-radius: 30px;
    background-color: #f5f5f51a;
    font-size: 16px;
}

.project-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    border: 1px solid #909090;
    border-radius: 11px;
    padding: 1em 2em;
    gap: 20px;
    max-width: 700px;
    backdrop-filter: blur(20px);
}

.project-box .title {
    font-size: 30px;
}

.project-box .desc {
    text-align: justify;
    max-width: 600px;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
}

.tag {
    padding: .2em 2em;
    border: 1px solid;
    border-radius: 30px;
    opacity: .7;
    color: #00073b;
}

.tag::before {
    content: "#";
}

#gradient-canvas {
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  width:100%;
  height:100%;
  --gradient-color-1: #ffffff; 
  --gradient-color-2: #e6e6e6; 
  --gradient-color-3: #797979;  
  --gradient-color-4: #EEEEEE;
}

img {
    width: 120%;
    margin-top: 55px;
    filter: grayscale(.3);
    user-select: none;
    pointer-events: none;
}
.img {
    position: relative;
    aspect-ratio: 1 / 1.2;
    width: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: .3s ease-out;
    filter: grayscale(1) blur(100px);
    animation: wiggle 1s infinite ease-in-out;
    user-select: none;
}

@keyframes wiggle {
    0% {
        filter: grayscale(1) blur(100px);
    }
    50% {
        filter: grayscale(1) blur(70px);
    }
    100% {
        filter: grayscale(1) blur(100px);
    }
}
@keyframes endwiggle {
    0% {
        filter: blur(50px);
    }
    100% {
        filter: blur(0px);
    }
}

.img:hover {
    width: 150px;
    animation: endwiggle .3s ease-in-out;
    animation-iteration-count: 1;
    filter: blur(0px);
}

a:hover {
    backdrop-filter: blur(100px) brightness(1.5);
    border: 1px solid;
}

#socials .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    width: 200px;
    border: 1px solid #606060;
    border-radius: 11px;
    aspect-ratio: 3 / 1.5;
    backdrop-filter: sepia(.6) brightness(1.5);
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}