* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s;
    scroll-behavior: smooth;
}

#starsBg {
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
}

body {
    position: relative;
    margin: 0;
    overflow: hidden auto;
    z-index: 1;
    font-size: 20px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Alegreya", serif;
    color: #2f243a;
    font-optical-sizing: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em .5em;
    position: sticky;
    top: -11vh;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    max-width: 1100px;
    border: 1px solid #9602009e;
    padding: .5em 2em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-top: 10vh;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FAC9B855;
    backdrop-filter: blur(3px);
    padding: .3em;
    gap: .3em;
    border: 1px solid #db8a743b;
    border-radius: 10px;
}

a.link {
    padding: .4em 1.2em;
    color: #960200;
    text-decoration: none;
    transition: .3s;
    border-radius: 10px;
    border: 1px solid #fff0;
}

a.link:hover {
    color: #960200;
    background: #db8a746b;
    border: 1px solid #db8a74;
}

.self div {
    font-size: 1.5em;
    font-family: math;
    text-decoration: none;
    color: #960200;
    text-shadow: 2px 1px #db8a74;
    user-select: none;
}

.self {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1300px;
}

.name {
    font-size: 4em;
    font-weight: 900;
    letter-spacing: .01em;
    color: #2F243A;
    line-height: 1.7em;
}

.hi {
    color: #2f243a;
    display: inline;
    text-align: left;
    align-self: flex-start;
}

.desc {
    color: #2f243a;
    font-style: italic;
    font-size: 1.3em;
    align-self: flex-end;
}
.hero {
    position: relative;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    margin-bottom: 20%;
}

#about, .contactPage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.topper {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #db8a7400;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-image: url("/static/keyboard_double_arrow_down_48dp_FILL0_wght400_GRAD0_opsz48.svg");
    background-repeat: no-repeat;
    background-position: 20px 15px;
    background-size: 40px;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    opacity: .5;
    transition: .3s;
    z-index: 1000;
}
@keyframes bounce {
    0% {
        background-position: 20px 15px;
    }
    50% {
        background-position: 20px 40px;
    }
}

.title h1 {
    font-size: 3em;
    opacity: .8;
    border-bottom: 1px solid #2f243a36;
    align-self: flex-start;
    width: 100%;
}

#about .desc {
    width: 95%;
    text-align: justify;
    align-self: flex-end;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .087rem;
    font-weight: 500;
    padding: 1em;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

#about .page {
    padding: 2em;
    background: #fac9b8a5;
    border-radius: 10px;
    backdrop-filter: blur(5px) brightness(1.1);
    border: 1px solid #db8a7473;
    width: 80%;
}

.topper::after {
    opacity: 1;
    backdrop-filter: blur(5px);
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

a.link.contact {
    border: 1px solid;
    background: #db8a743b;
}

a.link.contact:hover {
    background: #db8a746b;
    box-shadow: 5px 5px 0px #db8a74a8;
    transform: translate(-5px, -5px);
}

a.link.contact:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px #db8a7400;
}

.contactPage .page {
    width: 100%;
    min-height: 88vh;
    background-color: #ffe4db59;
    backdrop-filter: blur(3px);
}

a.card {
    background: #db8a743b;
    color: #960200;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2/1;
    padding: 1em;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
}

a.card:hover {
    background: #ffe4db;
    box-shadow: 5px 5px 0px #db8a74, inset 0 0 0 #fff0;
    transform: translate(-5px, -5px);
}

a.card:active {
    background: #9602000d;
    transform: translate(0px, 0px);
    box-shadow: 0 0 0 #fff0, inset 4px 4px 0px #db8a74a8;
}

.cardContainer {
    position: relative;
    max-width: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 4em 0;
}

.card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3em;
    aspect-ratio: 2 / 1;
    width: 7em;
}

.card i {
    font-size: 1.5em;
    color: #fff0;
    background: linear-gradient(41deg, #960200, #ffdb00);
    background-clip: text;
}

.up {
    transform: rotateZ(180deg) translateY(0em);
    animation: none;
    background-position: center;
}

.topper.hide {
    opacity: 0;
    z-index: -1;
}
.topper:not(.hide) {
    opacity: 1;
    z-index: 100;
}